{
  "env": {
    "browser": true,
    "node": true
  },

  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2022
  },

  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended"
  ],

  "rules": {
    "react/prop-types": "warn",
    "prettier/prettier": "warn"
  },

  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
